<footer class="footer">
	<small>
		<a href="http://www.railstutorial.org/">RORT</a>でサンプルアプリ作成中！<a href="https://twitter.com/teruringo">りんご</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "サンプルアプリとは？", about_path %></li>
			<li><%= link_to "お問い合せ", contact_path %></li>
			<li><%= link_to "RORT", 'http://news.railstutorial.org' %></li>
		</ul>
	</nav>
</footer>